<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link type="text/css" href="css/styles.css" rel="stylesheet" />
</head>



<body class="d-flex flex-column h-100">
    <%- include('./partials/nav') %>
        <% if(typeof (errors) !='undefined' ){%>
            <% for(x in errors){%>
                <%if(errors[x]==="Success")%>
                    <br><span style="color: #20c997">
                        <%=errors[x]%>
                    </span>
                    <%}%>
                        <br><span>
                            <%=errors[x]%>
                        </span>
                        <%}%>
                            <main class="flex-shrink-0">
                                <!-- Header-->
                                <header class="bg-dark py-5">
                                    <div class="container px-5">
                                        <div class="row gx-5 align-items-center justify-content-center">
                                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                                <div class="my-5 text-center text-xl-start">
                                                    <h1 class="display-5 fw-bolder text-white mb-2">Registration
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <!-- Features section-->
                                <div class="container">
                                    <div>
                                        <form action="/registration" method="POST" class="form-horizontal">
                                            <!-- Text Input -->
                                            <!-- FirstName -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="firstName">First Name</label>
                                                <div class="name-input">
                                                    <input id="firstName" name="firstName" type="text"
                                                        placeholder="First Name" class="form-input">
                                                </div>
                                            </div>
                                            <!-- LastName -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="lastName">Last Name</label>
                                                <div class="name-input">
                                                    <input id="lastName" name="lastName" type="text"
                                                        placeholder="Last Name" class="form-input">
                                                </div>
                                            </div>
                                            <!-- Address -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="address">Address</label>
                                                <div class="name-input">
                                                    <input id="address" name="address" type="text" placeholder="Address"
                                                        class="form-input">
                                                </div>
                                            </div>
                                            <!-- City -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="city">City</label>
                                                <div class="name-input">
                                                    <input id="city" name="city" type="text" placeholder="City"
                                                        class="form-input">
                                                </div>
                                            </div>
                                            <!-- State -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="state">State</label>
                                                <div class="name-input">
                                                    <input id="state" name="state" type="text" placeholder="State"
                                                        class="form-input">
                                                </div>
                                            </div>
                                            <!-- Zip -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="zip">Zip Code</label>
                                                <div class="name-input">
                                                    <input id="zip" name="zip" type="text" placeholder="Zip Code"
                                                        class="form-input">
                                                </div>
                                            </div>
                                            <!-- Age (Dropdown) -->
                                            <div class="form-group">
                                                <label class="dropdown" for="age">Age</label>
                                                <div class="name-input">
                                                    <select id="age" name="age" type="text" placeholder="Age"
                                                        class="dropdown">
                                                </div>
                                            </div>
                                            <!-- Gender -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="gender">Gender</label>
                                                <div class="name-input">
                                                    <input id="gender" name="gender" type="radio" placeholder="Gender"
                                                        class="radio">
                                                </div>
                                            </div>
                                            <!-- Consent -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="consent">Consent</label>
                                                <div class="name-input">
                                                    <input id="consent" name="consent" type="checkbox" class="checkbox">
                                                </div>
                                            </div>
                                            <!-- Bio -->
                                            <div class="form-group">
                                                <label class="form-input-group" for="bio">Bio</label>
                                                <div class="name-input">
                                                    <textarea name="bio" id="bio" cols="30" rows="10"
                                                        placeholder="Bio Information" class="t-box"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>

                            </main>
                            <!-- Footer-->
                            <footer class="bg-dark py-4 mt-auto">
                                <div class="container px-5">
                                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                                        <div class="col-auto">
                                            <div class="small m-0 text-white">Copyright &copy; Your Website 2023</div>
                                        </div>
                                        <div class="col-auto">
                                            <a class="link-light small" href="#!">Privacy</a>
                                            <span class="text-white mx-1">&middot;</span>
                                            <a class="link-light small" href="#!">Terms</a>
                                            <span class="text-white mx-1">&middot;</span>
                                            <a class="link-light small" href="#!">Contact</a>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                            <!-- Bootstrap core JS-->
                            <script
                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
                            <!-- Core theme JS-->
                            <script src="js/scripts.js"></script>
</body>

</html>